
<h3>Order Management</h3>

<table class="table">
  <thead>
  <th>Order ID</th>
  <th>User</th>
  <th>Amount</th>
  <th>Status</th>
  <th>Process</th>
  <th>Delete</th>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.oid, order_path(order.oid) %></td>
        <td><%= order.user.name %></td>
        <td><%= order.amount %></td>
        <td><%= order.status %></td>
        <td><%= order.process %></td>
        <td><%= link_to 'delete?', order_path(order.oid),
                        method: :delete, data: {confirm: '你确定删除吗?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
