<h3>商品管理</h3>

<table class="table">
	<thead>
		<th>PID</th>
		<th>Image</th>
		<th>name</th>
		<th>price</th>
		<th>desc</th>
		<th>编辑</th>
	</thead>
	<tbody>
		<% @products.each do |product| %>
			<tr>
				<td><%= product.pid %></td>
				<td><%= product.image %></td>
				<td><%= product.name %></td>
				<td><%= product.price %></td>
				<td><%= product.desc %></td>
				<td><%= link_to '删除', product_path(product), method: :delete, data: {confirm: '你确定删除吗?'} %></td>	
			</tr>
		<% end %>
	</tbody>
</table>